<!DOCTYPE html>
<html>
<head>
  <title>Rpglogger</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'partials/site_shoutout' %>
  
  <div class='content-border'>
    <div class="content">
      <%= render :partial => 'partials/site_nav' %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
